<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/templates/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>

<div th:fragment="logout" class="logout" >

    <div>
        <h3 th:text="${productName}"></h3>
        <form action="#" th:action="@{/shiro/logout}" method="post">
            <input type="submit" value="退出" />
        </form>
    </div>
</div>
<h1>用户主页</h1>
<p>这里是用户主页</p>
<ul>
    <li>Go to the <a href="/index" th:href="@{/index}">主页</a></li>
</ul>
</body>
</html>